@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

.input-width{
    width:300px;
}
.datefield {
    display: inline;
    padding: 0.3em;
    border: solid 1px #CCC;
    background: #FFF;
    border-radius: 4px;
    color: #666;
}

.datefield * {
    display: inline-block;
}

.datefield input {
    width: 2.7em ;
    padding: 0 0.4em;
    border: none;
    font-size: 100%;
    background: none;
    color: #000;
}
#date1{
    margin-left: 15px;
}

.datefield input#year { width:3.5em; }
/*.datefield input:focus { outline:none; }*/

#state{
    width: 3.5em;
}
